@media(min-width:971px){

.events{
    clear:both;
    float: left;
    margin-left: 20%;
    margin-top: 30px;
    width:500px;
    height: 150px;
    background-color: transparent;
    position:relative;
    box-sizing: content-box;
    margin-bottom: 20px;
}

.events:hover{
    animation: animate 1s linear infinite;
    border: 2px solid rgb(255, 190, 69);
    cursor: pointer;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.span{
    color:rgb(255, 0, 187);
}

.img{
    margin-left: 10px;
    border-radius: 10px;
    float: left;
    margin-right: 2%;
}

.events > div{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
}

.events > p{
    font-size: 13px;
    color: rgb(46, 46, 46);
    font-family: 'Times New Roman', Times, serif;
}

.events > button{
    padding:1.5% 3%;
    margin-top: 5px;
    background-color: rgb(255, 197, 88);
}

.events > button:hover{
    background-color: rgb(255, 181, 43);;
}

.events > button:active{
    background-color: rgb(248, 212, 146);;
}


.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
.spinner:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgb(254, 166, 34);
    border-color: rgb(254, 166, 34) rgb(254, 166, 34) rgb(254, 166, 34) transparent;
    animation: spinner 0.7s linear infinite;
  }

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.card_spinner{
    display: flex;
    width: 100%;
    margin-top: 50%;
    justify-content: center;
}

.ul{
    padding: 0px;
}

.noevent{
    float: left;
    animation: ent 2s linear infinite;
    color: black;
    margin-top: 140px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes ent {
    0%{
        opacity: 1;
        transform: translateX(-50px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(125px)
    }
    100%{
       opacity: 0.2;
        transform: translateX(300px);
    }
  }
}

@media(min-width:601px) and (max-width:970px){
    
.events{
    clear:both;
    float: left;
    margin-left: 20%;
    margin-top: 30px;
    width:400px;
    height: 130px;
    background-color: transparent;
    position:relative;
    box-sizing: content-box;
    margin-bottom: 10px;
}

.events:hover{
    animation: animate 1s linear infinite;
    border: 2px solid rgb(255, 190, 69);
    cursor: pointer;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.span{
    color:rgb(255, 0, 187);
}

.img{
    margin-left: 10px;
    border-radius: 10px;
    float: left;
    width:200px;
    height:130px;
    margin-right: 2%;
}

.events > div{
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
}

.events > p{
    font-size: 13px;
    color: rgb(46, 46, 46);
    font-family: 'Times New Roman', Times, serif;
}

.events > button{
    padding:1.5% 3%;
    margin-top: 5px;
    background-color: rgb(255, 197, 88);
}

.events > button:hover{
    background-color: rgb(255, 181, 43);;
}

.events > button:active{
    background-color: rgb(248, 212, 146);;
}


.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
.spinner:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgb(254, 166, 34);
    border-color: rgb(254, 166, 34) rgb(254, 166, 34) rgb(254, 166, 34) transparent;
    animation: spinner 0.7s linear infinite;
  }

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.card_spinner{
    display: flex;
    width: 100%;
    margin-top: 50%;
    justify-content: center;
}

.ul{
    padding: 0px;
}

}

@media(max-width:600px){

    .events{
        clear:both;
        float: left;
        margin-left: 20%;
        margin-top: 30px;
        width: 60%;
        height: 260px;
        background-color: transparent;
        position:relative;
        display: block;
    }
    
    .events:hover{
        animation: animate 1s linear infinite;
        border: 2px solid rgb(255, 190, 69);
        cursor: pointer;
    }
    
        @keyframes animate{
            0%{
                transform: rotate(0deg);
            }
            25%{
                transform: rotate(-5deg);
            }
            50%{
                transform: rotate(0deg);
            }
            75%{
                transform: rotate(5deg);
            }
            100%{
                transform: rotate(0deg);
            }
    }
    
    .img{
        clear: both;
        border-radius: 10px;
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        height: 130px;
        width:180px;
    }
    
    .events > div{
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
        font-style:italic;
        font-family:'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .events > p{
        font-size: 13px;
        color: rgb(46, 46, 46);
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
    }
    
    .events > button{
        clear: both;
        padding:1.5% 3%;
        background-color: rgb(255, 197, 88);
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .events > button:hover{
        background-color: rgb(255, 181, 43);;
    }
    
    .events > button:active{
        background-color: rgb(248, 212, 146);;
    }


    .spinner {
        display: inline-block;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
      }
    .spinner:after {
        content: ' ';
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 6px solid rgb(254, 166, 34);
        border-color: rgb(254, 166, 34) rgb(254, 166, 34) rgb(254, 166, 34) transparent;
        animation: spinner 0.7s linear infinite;
      }
    
    @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
    
.card_spinner{
    display: flex;
    width: 100%;
    margin-top: 20%;
    justify-content: center;
}

.ul{
    padding: 0px;
}
}