
@media(min-width:601px){

.spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
.spinner:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgb(254, 166, 34);
    border-color: rgb(254, 166, 34) rgb(254, 166, 34) rgb(254, 166, 34) transparent;
    animation: spinner 0.7s linear infinite;
  }

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.card_spinner{
    display: flex;
    width: 95%;
    margin-top: 50%;
    justify-content: center;
}

.text{
    font-family:'Times New Roman', Times, serif;
    float: left;
    margin-left: 40px;
    margin-top: 60px;
    width:100%;
    animation: txt 1s linear infinite;
}

@keyframes txt {
    0%{
        opacity: 1;
        transform: translateX(-40px);
    }
    50%{
        opacity: 0.5;
        transform: translateX(5px)
    }
    100%{
       opacity: 0.2;
        transform: translateX(50px);
    }
}

.add{
    opacity: 0.7;
    float: left;
    margin-top: 33px;
    margin-left: 68px;
}

.add:hover{
    opacity: 0.9;
    cursor:pointer;
}

.container{
  float: right;
  position: absolute;
  
  margin-left: 199px;
  margin-top: 25px;
  background-color: aliceblue;
  font-size: 14px;
  width:110px;
  font-family: 'Times New Roman', Times, serif;
}

.content_1{
  border: 1.2px solid orange;
  padding: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.content_1:hover{
  background-color: rgb(209, 219, 229);
}

.content_2{
  border: 1.2px solid orange;
  padding: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content_2:hover{
  background-color:  rgb(209, 219, 229);

}

}

@media(max-width:600px){

  
.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid rgb(254, 166, 34);
  border-color: rgb(254, 166, 34) rgb(254, 166, 34) rgb(254, 166, 34) transparent;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card_spinner{
  display: flex;
  width: 100%;
  margin-top: 60%;
  justify-content: center;
}

.text{
  font-family:'Times New Roman', Times, serif;
  float: left;
  margin-left: 10px;
  margin-top: 70px;
  width:100%;
  animation: txt 1s linear infinite;
}

@keyframes txt {
  0%{
      opacity: 1;
      transform: translateX(0px);
  }
  50%{
      opacity: 0.5;
      transform: translateX(35px)
  }
  100%{
     opacity: 0.2;
      transform: translateX(70px);
  }
}

.add{
  opacity: 0.7;
  float: right;
  margin-top: 33px;
  margin-right: 40px;
}

.add:hover{
  opacity: 0.9;
  cursor:pointer;
}

.container{
  float: right;
  margin-left:40px;
  margin-right: 20%;
  margin-bottom: -20px;
  margin-top: 10px;
  background-color: #c7c7c7;
  font-size: 14px;
  min-width:60%;
  width:30%;
  font-family: 'Times New Roman', Times, serif;
}


.content_1{
  border: 1.2px solid orange;
  padding: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content_1:hover{
  background-color:  #a7a7a7;
}

.content_2{
  border: 1.2px solid orange;
  padding: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.content_2:hover{
  background-color: #a7a7a7;

}

}
